* {
    margin: 0;
}

.Search {
    color: white;
    background-color: #990000;

    padding: 2rem;
}

.Bar {
    display: flex;
}

input {
    color: #fff;
    background-color: #990000;
    border: none;
    border-bottom: 2px solid #fff;

    width: 100%;
}
input:focus {
    outline: none;
}

.Load {
    margin-left: 2rem;
}

.Videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    transition: background 250ms ease-in-out;

    color: #fff;
    background-color: #ff3333;

    border: none;
    border-radius: 0.5rem;

    width: min-content;

    padding: 0.5rem 2rem;
}
button:focus {
    outline: none;
}